/* App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #d7d4d0;
}

header {
  height: 60px;
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1800px;
  width: calc(100vw - 80px);
}

.panel {
  min-height: 80px;
}

.content-container {
  display: flex;
}

.content-container .side {
  width: 100%;
  flex: 1;
}
